nav a.active {
    font-weight: bold;
}

.NavBar {
    background-color: #0077B5;
    color: aliceblue;
    position: relative;
    text-align: right;
}

a {
    display: inline-block;
    position: relative;
    padding: 0.8em 0.8em;
}

section {
    display: inline-block;
    margin-right: 1em; 
}

.NavBar-logo {
    left: 1em;
    position: absolute;
}